.filterTitle {
    // color: #fff;
    white-space: nowrap;
}
.title {
    margin-bottom: 10px;
    // color: #fff;
}
.filterWrapper {
    background: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}